#     print(val/var  ,sep=' '  ,end='\n')

In [ ]:
#     print(val/var  ,sep=' '  ,end='\n')

In [16]:
print("Hello world")

Hello world

In [17]:
a=15
b=5
print('the sum of',a,'and',b,'is',a+b)

the sum of 15 and 5 is 20

In [18]:
a=15
b=5
print('the sum of',a,'and',b,'is',a+b,sep='@')

the sum of@15@and@5@is@20

In [19]:
a=15
b=5
print('the sum of',a,'and',b,'is',a+b,sep='')

the sum of15and5is20

In [20]:
a=15
b=5
print('the sum of',a,'and',b,'is',end='=')
print(a+b)

the sum of 15 and 5 is=20

In [21]:
a=15
b=5
print('the sum of',a,'and',b,'is')
print(a+b)

the sum of 15 and 5 is
20

In [22]:
a=15
b=5
print('the sum of',a,'and',b,'is',end='\n\n\n')
print(a+b)

the sum of 15 and 5 is


20

In [23]:
var=10
print(var,20,30)

10 20 30

In [24]:
var=10
print('var',20,30)

var 20 30

In [25]:
var=10
print(var,20,30,sep='@')

10@20@30

In [26]:
name='manoj'
print('my name is',name)

my name is manoj

In [27]:
var=10
print(var,20,30,sep='@')

10@20@30

In [28]:
name='manoj'
print('my name is',name,'kumar','msb',sep='___')
print('age20',end='@')
print('from bangalore')

my name is___manoj___kumar___msb
age20@from bangalore

#  input()

In [1]:
a=input('enter the value of a:')
print(a,type(a))

enter the value of a:1
1 <class 'str'>

In [3]:
a=int(input('enter the num:'))
print(a)
print(type(a))

enter the num:1
1
<class 'int'>

In [1]:
a=float(input('enter the num :'))
print(a)
print(type(a))

enter the num :1
1.0
<class 'float'>

In [2]:
a=complex(input('enter the num :'))
print(a)
print(type(a))

enter the num :1
(1+0j)
<class 'complex'>

In [5]:
a=bool(input('enter the num :'))
print(a)
print(type(a))

enter the num :1
True
<class 'bool'>

In [8]:
a=int(input('enter the num for a :'))
b=int(input('enter the num for b :'))
c=a>b
print(c)

enter the num for a :10
enter the num for b :5
True

# if

In [1]:
a=4
if type(a)==int:
    print('its an int')

its an int

In [5]:
a=[1,2,3]
if type(a) in (str,list,tuple,set,dict):
    print('collection')

collection

In [7]:
a='manoj'
b=['hello','hi','manoj']
if a  in b:
    print('True')

True

In [8]:
a='M'
if type(a)==str:
    print(ord(a))

77

 # if else

In [9]:
a=8
if a%2==0:
    print('even')
else:
    print('not even')

even

In [10]:
a=5
if a%2==1:
    print('odd')
else:
    print('not odd')

odd

In [11]:
a='M'
if 'A'<=a<='Z':
    print('uppercase')
else:
    print('not uppercase')

uppercase

In [12]:
a='m'
if 'a'<=a<='z':
    print('lowercase')
else:
    print('not lowercase')

lowercase

In [13]:
a='2'
if '0'<=a<='9':
    print('number')
else:
    print('not number')

number

In [14]:
ch=6
if ch>0:
    print('positive')
else:
    print('negative')

positive

In [15]:
ch=0
if ch>0:
    print('positive')
elif ch<0:
    print('negative')
else:
    print('neutral')

neutral

In [16]:
ch='malayalam'
rev=ch[::-1]
if ch==rev:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [53]:
a='@'
if not ('A'<=a<='Z' or 'a'<=a<='z' or '0'<=a<='9'):
    print('special char')
else:
    print('no special char')

special char

In [60]:
a='I'
if a in 'aeiouAEIOU':
    print('char having vowel')
else:
    print('no vowel')

char having vowel

In [74]:
num=int(input('enter the num: ' ))
rev=str(num)
if num==int(rev[::-1]):
    print('palindrome')
else:
    print('not palindrome')

enter the num: 101
palindrome

# if elif

In [17]:
a='@'
if 'A'<=a<='Z':
    print('upper')
elif 'a'<=a<='z':
    print('lower')
elif '0'<=a<='9':
    print('number')
else:
    print('special char')

special char

In [21]:
a=20
if a%3==0 and a%5==0:
    print('divisble by 3 and 5')
elif a%3==0:
    print('divisible by 3 only')
elif a%5==0:
        print('divisible by 5 only')

divisible by 5 only

In [47]:
a=2.3
if type(a)==int:
    print('int')
elif type(a)==float:
    print('float')
elif type(a)==complex:
    print('complex')
elif type(a)==bool:
    print('boolen')
else:
    print('its not a single value datatype ')

float

In [85]:
a='Hj1'
if a.isupper( ):
    print('uppercase')
elif a.islower( ):
    print('lowercase')
elif a.isnumeric( ):
    print('number')
elif a.isalnum():
    print('either alpha or numeric')

either alpha or numeric

In [90]:
a='@'
if not(a.isalnum()):
    print('special char')
if a.isupper( ):
    print('uppercase')
elif a.islower( ):
    print('lowercase')
elif a.isnumeric( ):
    print('number')

special char

In [101]:
a=int(input('enter the percentage:'))
if a>85:
    print('FCD')
elif 75<=a<=85:
    print('First class')
elif 61<=a<=75:
    print('second class')
elif 45<=a<=60:
    print('average')
else:
    print('Fail')

enter the percentage:98
FCD

In [110]:
a=int(input('enter the num:'))
if 0<=a<=9 or -9<=a<=-1:
    print('Single digit')
elif 10<=a<=99 or -99<=a<=-10:
    print('double digit')
elif 100<=a<=999 or -999<=a<=-100:
    print('three digit')
else:
    print('more than 3digit')

enter the num:-562
three digit

In [23]:
input1 = int(input("Enter the 1st Number:"))
operator = input("Enter the required Operator:")
input2 = int(input("Enter the 2nd Number:"))
if operator == '+':
    print(input1 + input2)
elif operator == '-':
    print(input1 - input2)
elif operator == '*':
    print(input1 * input2)
elif operator == '/':
    print(input1 / input2)
elif operator == '//':
    print(input1 // input2)
elif operator == '%':
    print(input1 % input2)
else:
    print('Invalid Operator')

Enter the 1st Number:25
Enter the required Operator:%
Enter the 2nd Number:5
0

In [24]:
a = int(input("Enter num1:"))
b = int(input("Enter num2:"))
c = int(input("Enter num3:"))
if a >= b and a >= c:
    if b >= c:
        print(b, 'is the second greatest number')
    else:
        print(c, 'is the second greatest number')
elif b >= a and b >= c:
    if a >= c:
        print(a, 'is the second greatest number')
    else:
        print(c, 'is the second greatest number')
elif c >= a and c >= b:
    if a >= b:
        print(a, 'is the second greatest number')
    else:
        print(b, 'is the second greatest number')

Enter num1:23
Enter num2:4
Enter num3:45
23 is the second greatest number

# nested if

In [25]:
a=17
if a%2==1:
    if a%5==0:
        print('num is odd & divisible by 5')
    else:
        print('num is odd but not divisble by 5')
else:
    print('num is not odd')

num is odd but not divisble by 5

In [31]:
a=20
if a%2==0:
    if a%9==0:
        print('num is even & multiple of 9')
    else:
        print('num is even  but not mutiple of 9')
else:
    print('num is not even')

num is even  but not mutiple of 9

In [37]:
user ='Manoj'
pas='M@123'
userid='Manoj'
password='M@123'
if user==userid:
    if pas==password:
        print('login sucessfully')
    else:
        print('invalid pass')
else:
    print('invalid user')

login sucessfully

In [57]:
a='stArs'
if len(a)%2==1:
    b=len(a)//2
    if 'A'<=a[b]<='Z':
        print('middle char is upper')
    else:
        print('middle char is not upper')
else:
    print('char is even ,so cannot find the middle values ')

middle char is upper

In [63]:
a=[1,2,5.5,'hi',3+4j,True,38]
if len(a)%2!=0:
    if type(a[len(a)//2])==str:
        print(a[len(a)//2])
    else:
        print(len(a)//2)
else:
    print('list doesnot have middle value')

hi

In [64]:
a=[2,4,6,8,10,12,14,16,18,20,22]
out=[]
if len(a)%2==1:
    b=len(a)//2
    for i in range(b+1,len(a)):
        out=out+[a[i]]
    print(out)
else:
    print('no middle value')

[14, 16, 18, 20, 22]

In [70]:
a='@manoj'
if len(a)%2==0:
    if not ('A'<=a<='Z' or 'a'<=a<='z' or '0'<=a<='9'):
        print('even length string & 1st char having special symbol ')
    else:
        print(' even length  string but no special char')

even length string & 1st char having special symbol

# while loop

In [111]:
i=0
while i<10:
    print("hello")
    i+=1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [112]:
n=int(input('enter the num:'))
i=1
while i<=n:
    print(i)
    i+=1

enter the num:5
1
2
3
4
5

In [113]:
n=int(input('enter the num:'))
i=1
while i<=n:
    print(i**2)
    i+=1

enter the num:5
1
4
9
16
25

In [114]:
n=int(input('enter the num:'))
i=1
while i<=n:
    print(i*i)
    i+=1

enter the num:5
1
4
9
16
25

In [1]:
i=1
while i<=100:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [2]:
i=1
while i<=100:
    if i%2==1:
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [3]:
i=1
while i<=50:
    if i%5==0:
        print(i)
    i+=1

5
10
15
20
25
30
35
40
45
50

In [4]:
n=int(input("enter the number:"))
i=1
sum=0
while i<=n:
    sum=sum+i
    i+=1
print(sum)

enter the number:10
55

In [9]:
a=[1,2,4,5,454,12124,1,2,46,89,75,2,6,4]
i=0
while i<len(a):
    if a[i]%2==0:
        print(a[i])
    i+=1

2
4
454
12124
2
46
2
6
4

In [10]:
a=["manoj",10,5.2,"hb"]
i=0
while i<len(a):
    if type(a[i])==str:
        print(a[i])
    i+=1

manoj
hb

In [11]:
a=["manoj",10,5.2,"hb",5.6,8.9]
i=0
while i<len(a):
    if type(a[i])==float:
        print(a[i])
    i+=1

5.2
5.6
8.9

In [12]:
a='PyThOn'
i=0
while i<len(a):
    if 'A'<=a[i]<='Z':
        print(a[i])
    i+=1

P
T
O

In [14]:
a=[10,2,0,454,4,545,45,45,4,54,554]
i=0
count=0
while i<len(a):
    count+=1
    i+=1
print(count)

11

In [17]:
a=[10,2,0,454,4,545,45,45,4,54,5541,3,5]
i=0
out=[]
while i<len(a):
    if i%2==0:
        out+=[a[i]]
    i+=1
print(out)

[10, 0, 4, 45, 4, 5541, 5]

In [18]:
a=[10,2,0,454,4,545,45,45,4,54,5541,3,5]
i=0
out=[]
while i<len(a):
    if i%2==1:
        out+=[a[i]]
    i+=1
print(out)

[2, 454, 545, 45, 54, 3]

In [1]:
a="pyth&&**##on@@"
i=0
out=""
while i<len(a):
    if not('A'<=a[i]<='Z' or 'a'<=a[i]<='z' or '0'<=a[i]<='9'):
        out+=a[i]
    i+=1
print(out)

&&**##@@

In [4]:
a="MANOJpyth&&**##on@@MANOJ"
i=0
out=""
while i<len(a):
    if not('a'<=a[i]<='z' or '0'<=a[i]<='9'):
        out+=a[i]
    i+=1
print(out)

MANOJ&&**##@@MANOJ

In [6]:
a="MANOJ"
i=0
out=""
while i<len(a):
    out=a[i]+out
    i+=1
print(out)

JONAM

In [18]:
a="MALAYALAM"
i=0
out=""
while i<len(a):
    out=a[i]+out
    i+=1
if out==a:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [26]:
n=int(input("enter the number:"))
i=1
fact=1
while i<=n:
    fact=fact*i
    i+=1
print(fact)

enter the number:5
120

In [27]:
i=1
while i<=50:
    if i%3==0:
        print(i)
    i+=1

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [28]:
i=1
out=[]
while i<=100:
    if i%7==0:
        out+=[i]
    i+=1
print(out)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [7]:
a=0
b=1
print(a)
print(b)
while b<25:
    n=a+b
    a=b
    b=n
    print(n)

0
1
1
2
3
5
8
13
21
34

In [91]:
k=[1,2,3,4,5]
sum=0
i=0
while i<len(k):
    sum=sum+k[i]
    i+=1
print(sum)

15

In [94]:
k=[2,4,6,8]
sum=0
i=0
while i<len(k):
    if k[i]%2==0:
        sum=sum+k[i]
    i+=1
print(sum)

20

In [1]:
n=int(input('enter the num:'))
i=1
while i<=10:
    print(n,'*',i,'=',n*i)
    i+=1

enter the num:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
n=int(input('enter the num:'))
i=1
while i<=10:
    print(i,'*',n,'=',n*i)
    i+=1

enter the num:5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [2]:
n=int(input('enter the num:'))
i=1
while i<=10:
    print(f'{i}*{n}={i*n}')
    i+=1

enter the num:5
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50

In [2]:
i=0
while i<10:
    print('hello world')
    i+=1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [3]:
a='sujathajb'
i=0
while i<len(a):
    if a[i] in 'AEIOUaeiou':
        print(a[i])
    i+=1

u
a
a

In [4]:
a=[1,2,3,4,5,6]
i=0
sum=0
while i <len(a):
    sum=sum+a[i]
    i+=1
print(sum)

21

In [5]:
a=[1,2,3,4,5,6,10,8]
i=0
sum=0
while i <len(a):
    if a[i]%2==0:
        sum=sum+a[i]
    i+=1
print(sum)

30

In [6]:
n=int(input('enter the num: '))
i=0
while i <=n:
    print(i)
    i+=1

enter the num: 10
0
1
2
3
4
5
6
7
8
9
10

In [7]:
n=int(input('enter the num: '))
i=0
while i<n:
    if i %2==0:
        print(i)
    i+=1

enter the num: 10
0
2
4
6
8

In [3]:
n=['python',10,20,30,'program']
flag=0
i=1
while i <len(n):
    if type(n[0])!=type(n[i]):
        flag=1
    i+=1
if flag==1:
    print("heter")
else:
    print("homo")

heter

In [4]:
n=[10,20,30]
flag=0
i=1
while i <len(n):
    if type(n[0])!=type(n[i]):
        flag=1
    i+=1
if flag==1:
    print("heter")
else:
    print("homo")

homo

In [4]:
n=int(input('entter the  num:'))
rev=0
while n!=0:
    rev=rev*10+n%10
    n//=10
print(rev)

entter the  num:25
52

In [6]:
n=int(input('enter the  num:'))
rev=0
while n!=0:
    rev=rev*10+n%10
    n//=10
print(rev)
    
i=1
while i<=rev:
    if rev%i==0:
        print(i)
    i+=1

enter the  num:123
321
1
3
107
321

In [8]:
n=int(input('enter the  num:'))
rev=0
while n!=0:
    rev=rev*10+n%10
    n//=10
print(f'reversed format of given input is :{rev}')
    
i=1
while i<=rev:
    if rev%i==0:
        print(i)
    i+=1

enter the  num:25
reversed format of given input is :52
1
2
4
13
26
52

In [1]:
a=int(input('enter the num: '))
i=1
while i<=a:
    if a%i==0:
        print(i)
    i+=1

enter the num: 10
1
2
5
10

In [5]:
a=int(input('enter the num: '))
i=1
while i<=a:
    if a%i==0:
        print(i)
    i+=1

enter the num: 321
1
3
107
321

In [7]:
n=int(input('enter the  num:'))
rev=0
j=n
while n!=0:
    rev=rev*10+n%10
    n//=10
if rev==j:
    print("palindrome")
else:
    print("not palindrome")

enter the  num:121
palindrome

In [8]:
n=int(input('enter the  num:'))
rev=0
j=n
while n!=0:
    rev=rev*10+n%10
    n//=10
if rev==j:
    print("palindrome")
else:
    print("not palindrome")

enter the  num:130
not palindrome

# for loop

In [229]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [230]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [231]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [232]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [233]:
for i in {1,2,3,4,5}:
    print(i)

1
2
3
4
5

In [234]:
for i in {'a':1,'b':2,'c':3}:
    print(i)

a
b
c

In [235]:
a={'a':1,'b':2,'c':3}
for i in a:
    print(a[i])

1
2
3

In [236]:
for i in "manoj":
    print(i)

m
a
n
o
j

In [237]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [238]:
for i in range(10,14):
    print(i)

10
11
12
13

In [239]:
a="PyThON"
for i in a:
    if 'A'<=i<='Z':
        print(i)

P
T
O
N

In [240]:
a="ManoJ"
out=""
for i in a:
    if 'A'<=i<='Z':
        out=out+i
print(out)

MJ

In [241]:
a="MANOj"
for i in a:
    if i in 'AEIOUaeiou':
        print(i)

A
O

In [242]:
a=[1,24,5,6,7,5,6,85,8787]
for i in a:
    if i%2==1:
        print(i)

1
5
7
5
85
8787

In [243]:
a=[78,9,84,5,6,8,5,9,5,6,5,2,6,87,87,87,45,41,21,1]
count=0
for i in a:
    count=count+1
print(count)

20

In [244]:
a="east or west python is the best"
count=0
for i in a:
    if i==" ":
        count+=1
print(count)

6

In [245]:
a=["apple",1,4,3,4+5j,True,6,7,6.5]
sum=0
for i in range(len(a)):
    if i%2==0 and type(a[i])==int:
        sum=sum+a[i]
print(sum)

10

In [246]:
a="BTM@banga$$lore###"
for i in a:
    if not ('A'<=i<='Z' or 'a'<=i<='z' or '0'<=i<='9'):
        print(i)

@
$
$
#
#
#

In [247]:
a="Bangalore@@#$$#@#"
out=""
for i in a:
    if not ('A'<=i<='Z' or 'a'<=i<='z' or '0'<=i<='9'):
        out=out+i
print(out)

@@#$$#@#

In [248]:
a="East or west the sachin is best"
out=""
for i in a:
    if i==" ":
        out+="_"
    else:
        out+=i
print(out)

East_or_west_the_sachin_is_best

In [249]:
p=("python","manoj","hi")
out=()
for i in p:
    if len(i)%2==0:
        out+=(i,)
print(out)

('python', 'hi')

In [250]:
f=("python","hi","hello","hi","hb","manoj","python","manoj")
out=()
for i in f:
    if i not in out:
        out+=(i,)
print(out)

('python', 'hi', 'hello', 'hb', 'manoj')

In [251]:
a='ROsses are Red'
out=[]
b=''
for i in a:
    if i!=" ":
        b=b+i
    else:
        out=out+[b]
        b=''
out=out+[b]
print(out)

['ROsses', 'are', 'Red']

In [252]:
a='ROsses are Red'
out=a.split(' ')
print(out)

['ROsses', 'are', 'Red']

In [253]:
a=input("enter the char:")
out=[]
for i in a:
    if i in 'AEIOUaeiou':
        out+=[i]
print(out)

enter the char:manooj
['a', 'o', 'o']

In [254]:
a=['ROsses', 'are', 'Red']
out={}
for i in a:
    out[i]=len(i)
print(out)

{'ROsses': 6, 'are': 3, 'Red': 3}

In [255]:
a=['ROsses', 'are', 'Red']
out={}
for i in a:
    out[i]=i[::-1]
print(out)

{'ROsses': 'sessOR', 'are': 'era', 'Red': 'deR'}

In [256]:
a=['ROsses', 'are', 'Red']
out={}
for i in a:
    out[i]=[len(i),i[::-1]]
print(out)

{'ROsses': [6, 'sessOR'], 'are': [3, 'era'], 'Red': [3, 'deR']}

In [257]:
st="Happy HOLI"
out=""
for i in st:
    if 'A'<=i<='Z':
        out+=i
print(out)

HHOLI

In [258]:
a='Happy HOLI'
out=""
for i in a:
    if 'a'<=i<='z':
        out+=chr(ord(i)-32)
    else:
        out+=i
print(out)

HAPPY HOLI

In [259]:
a='Happy HOLI'
out=""
for i in a:
    if "A"<=i<"Z":
        out+=chr(ord(i)+32)
    else:
        out+=i
print(out)

happy holi

In [260]:
a="manoj hb"
out=""
for i in a:
    out=i+out
print(out)

bh jonam

In [261]:
a=(10,2.5,"hello","python","hai","byee",3+5j)
out=()
for i in a:
    if type(i)==str and len(i)%2==0:
        out+=(i,)
print(out)

('python', 'byee')

In [262]:
a="malayalam"
out=""
for i in a:
    out=i+out
if out==a:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [263]:
a=["manoj","hi","ki","li","manoj","hi"]
out=[]
for i in a:
    if i not in out:
        out+=[i]
print(out)

['manoj', 'hi', 'ki', 'li']

In [264]:
a="monday"
out=[]
for i in a:
    if ord(i)%2==0:
        out+=[ord(i)]
    else:
        out+=[0]
print(out)

[0, 0, 110, 100, 0, 0]

In [265]:
a='mahendrasinghdhoni'
b='h'
count=0
for i in a:
    if i=='h':
        count+=1
print(count)

3

In [266]:
a=("hai","bye",10,20+3j,"monkey","True","hiii")
out=()
for i in range(len(a)):
    if i%2==0:
        out+=(a[i],)
print(out)

('hai', 10, 'monkey', 'hiii')

In [267]:
a=(12,24,2+3j,False,'abc',34,75,66)
out=()
for i in range(len(a)):
    if type(a[i])==int and i%2==1:
        out+=(a[i],)
print(out)

(24, 34, 66)

In [268]:
a=[2,4,6,8,10,12,14,16,18,20]
out=[]
for i in range(len(a)):
    if type(a[i])==int and i%2==0:
        out+=[a[i]**2]
print(out)

[4, 36, 100, 196, 324]

In [269]:
r=[2,4,6,8,10,12,14,16,18,20,22,]
out=[]
if len(r)%2==1:
    a=len(r)//2
    for i in range(a+1 ,len(r)):
        out+=[r[i]]
    print(out)
else:
    print("no middle value")

[14, 16, 18, 20, 22]

In [270]:
n=6
out=0
for i in range(1,n):
    if n%i==0:
        out+=i
if out==n:
    print("its an perfect number")
else:
    print("it notperfect number")

its an perfect number

In [3]:
n=7
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

prime

In [272]:
a=153
b=str(a)
c=len(b)
out=0
for i in b:
    out+=int(i)**c
if out==a:
    print("armstrong")
else:
    print("not armstrong")

armstrong

In [273]:
t=("hai","hello",10,2+3j,True,.2)
out={}
for i in t:
    if type(i) in [str,tuple,set,dict]:
        out[i]=len(i)
    else:
        out[i]=type(i)
print(out)

{'hai': 3, 'hello': 5, 10: <class 'int'>, (2+3j): <class 'complex'>, True: <class 'bool'>, 0.2: <class 'float'>}

In [339]:
ip1=[10,100,True,'5',1+4j,'6.5']
ref=ip1[0]
for i in ip1:
    if type(i)!=type(ref):
        print("hetergenous collection")
        break
else:
    print("homogenous")

hetergenous collection

In [340]:
ip1=[10,100,1,454,4,54,54,54]
ref=ip1[0]
for i in ip1:
    if type(i)!=type(ref):
        print("hetergenous collection")
        break
else:
    print("homogenous")

homogenous

In [374]:
a=int(input())
indicator=0
for i in range(2,a):
    if a%i==0:
        indicator=1

if indicator==0:
    print("prime")
else:
    print("not prime")

7
prime

In [8]:
n=10
for i in range(0,n+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
n=10
for i in range(n+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
a=[2,4,8,1,3,5,10,7,5,12]
for i in a:
    if i%2==0:
        print(i)

2
4
8
10
12

In [11]:
a=[2,4,8,1,3,5,10,7,5,12]
for i in a:
    if i%2==1:
        print(i)

1
3
5
7
5

In [12]:
a='PyTHoN'
for i in a:
    if 'A'<=i<'Z':
        print(i)

P
T
H
N

In [13]:
a='PyTHoN'
for i in a:
    if 'a'<=i<'z':
        print(i)

y
o

In [14]:
a='P23yT1Ho101N'
for i in a:
    if '0'<=i<'9':
        print(i)

2
3
1
1
0
1

In [15]:
a='P23y@#T1Ho%**101N'
for i in a:
        if not('A'<=i<='Z' or 'a'<=i<='z'or '0'<=i<='9'):
            print(i)

@

#
%
*
*

In [16]:
a='PythON'
out=''
for i in a:
    if 'A'<=i<='Z':
        out+=chr(ord(i)+32)
    else:
        out+=i
print(out)

python

In [17]:
a='PythON'
out=''
for i in a:
    if 'a'<=i<='z':
        out+=chr(ord(i)-32)
    else:
        out+=i
print(out)

PYTHON

In [18]:
a="string"
out=''
for i in a:
    out=i+out
print(out)

gnirts

In [19]:
a='radar'
out=''
for i in a:
    out=i+out
if out==a:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [20]:
a=(10,'hi',12.5,'helloo','python','hai','bye')
out=()
for i in a:
    if type(i)==str and len(i)%2==0:
        out+=(i,)
print(out)

('hi', 'helloo', 'python')

In [21]:
a='xxxyyzzxyz'
out=''
for i in a:
    if i not in out:
        out+=i
print(out)

xyz

In [22]:
a=('hi','hello','hi','manoj','hi')
out=[]
for i in a:
    if i not in out:
        out+=[i]
print(out)

['hi', 'hello', 'manoj']

In [23]:
st='Monday'
out=[]
for i in st:
    if ord(i)%2==0:
        out+=[ord(i)]
    else:
        out+=[0]
print(out)

[0, 0, 110, 100, 0, 0]

In [24]:
a='davanagere'
b='e'
count=0
for i in a:
    if i ==b:
        count+=1
print(count)

2

In [25]:
a='davanagere'
count=0
for i in a:
    if i =='a':
        count+=1
print(count)

3

In [26]:
a='python training instution'
out=''
for i in a:
    if i==' ':
        out+='_'
    else:
        out+=i
print(out)

python_training_instution

In [27]:
a=('hi','hello','manoj','hb','string')
out=[]
for i in range(len(a)):
    if i%2==0:
        out+=(a[i],)
print(out)

['hi', 'manoj', 'string']

In [28]:
a=(2,4,6,8,10)
out=[]
for i in range(len(a)):
    if i%2==0:
        out+=(a[i]**2,)
print(out)

[4, 36, 100]

In [29]:
a=[1,2,5.5,'hi',3+4j,True,38]
if len(a)%2!=0:
    if type(a[len(a)//2])==str:
        print(a[len(a)//2])
    else:
        print(len(a)//2)
else:
    print('list doesnot have middle value')

hi

In [30]:
a=[1,2,5.5,3,3+4j,True,38]
if len(a)%2!=0:
    if type(a[len(a)//2])==str:
        print(a[len(a)//2])
    else:
        print(len(a)//2)
else:
    print('list doesnot have middle value')

3

In [31]:
a=[1,2,5.5,123,3+4j,True,38]
if len(a)%2!=0:
    if type(a[len(a)//2])==str:
        print(a[len(a)//2])
    else:
        print(a[len(a)//2])
else:
    print('list doesnot have middle value')

123

In [32]:
a=[1,2,5.5,3+4j,True,38]
if len(a)%2!=0:
    if type(a[len(a)//2])==str:
        print(a[len(a)//2])
    else:
        print(a[len(a)//2])
else:
    print('list doesnot have middle value')

list doesnot have middle value

In [33]:
a=('hi',5,6,8,9,10,4+3j,'hello',45,'hb','string',2.3)
out=[]
for i in range(len(a)):
    if i%2==1 and type(a[i])==int:
        out+=(a[i],)
print(out)

[5, 8, 10]

# nested  for loop

In [289]:
k=["apple","banana","mango","grapes","orange"]
for i in k:
    count=0
    for j in i:
        count+=1
    print(count)

5
6
5
6
6

In [306]:
k=["apple","banana","mango","grapes","orange"]
out={}
for i in k:
    count=0
    for j in i:
        if j in 'AEIOUaeiou':
            count+=1
    out[i]=count
print(out)

{'apple': 2, 'banana': 3, 'mango': 2, 'grapes': 2, 'orange': 3}

In [311]:
y=[[1,2,3],[4,5],[3,2,1,4]]
out={}
for i in y:
    c=0
    for j in i:
        c+=1
    out[c]=i
print(out)

{3: [1, 2, 3], 2: [4, 5], 4: [3, 2, 1, 4]}

In [312]:
r=['python','Btm','blore','karn']
out={}
for i in r:
    c=0
    for j in i:
        c+=1
    out[i]=c
print(out)

{'python': 6, 'Btm': 3, 'blore': 5, 'karn': 4}

In [316]:
a=[4.5,3.5,[10,20],5,6,[1,2,[3,4]],4.5]
out=0
for i in a:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                out+=j
            elif type(j)==list:
                for k in j:
                    if type(k)==int:
                        out+=k
print(out)

40

In [323]:
array=['python.org','testyantra.in','pyspiders.com','qspiders.com','jders.in']
out=()
for i in array:
    b=''
    for j in i:
        if j==".":
            b=''
            b+=j
        else:
            b+=j
    
    if b not in out:
            out+=(b,)
print(out)

('.org', '.in', '.com')

In [330]:
array=['python.org','testyantra.in','pyspiders.com','qspiders.com','jders.in']
out={}
for i in array:
    c=''
    for j in i:
        if j=='.':
            c=''
            c+=j
        else:
            c+=j
            
    if c in out:
        out[c]+=1
    else:
        out[c]=1
        
print(out)

{'.org': 1, '.in': 2, '.com': 2}

In [353]:
g='aabbccdabcd'
out=""
for i in g:
    if i not in out:
        c=0
        for j in g:
            if i==j:
                c+=1
        out+=i+str(c)
print(out)

a3b3c3d2

In [366]:
l='aabbccdabcd'
out=""
for i in l:
    c=0
    for j in l:
        if i==j:
            c+=1
    if i not in out:
        out+=i+str(c)
print(out)

a3b3c3d2

In [370]:
l='aabbccdabcd'
m='aabbccdabcd'
out=""
for i in l:
    c=0
    for j in m:
        if i==j:
            c+=1
    if i not in out:
        out+=i+str(c)
print(out)

a3b3c3d2

In [1]:
for i in range(1,21):
    ind=0
    for j in range(2,i):
        if i%j==0:
            ind=1
    
    if ind==0:
        print(i)

1
2
3
5
7
11
13
17
19

In [2]:
for i in range(1,1001):
    sum=0
    for j in range(1,i):
        if i%j==0:
            sum+=j
    if sum==i:
        print(i)

6
28
496

In [1]:
p='33344563355644555'
out=''
count=0
for i in p:
    t=0
    for j in p:
        if i==j:
            t+=1
    if t>count:
        count+=t
        out=i
print(out)

5

In [5]:
a=[1,4,'hai',3,2,True]
out=[]
for i in range(len(a)):
    p=1
    for j in range(len(a)):
        if i!=j and type(a[j])==int:
            p*=a[j]
    out+=[p]
print(out)

[24, 6, 24, 8, 12, 24]

In [6]:
a=[2,3,1,True,'hello',3]
out=[]
for i in range(len(a)):
    p=1
    for j in range(len(a)):
        if i!=j and type(a[j])==int:
            p*=a[j]
    out+=[p]
print(out)

[9, 6, 18, 18, 18, 6]

In [15]:
A = [10, 23, 24, 37, 46, 4.5, 6+8j, 4.9, 45, 7, 'string', ['list']]
out = []
Sum = 0
for i in range(len(A)):
    if i%2 == 0:
        out += [A[i]]
    if type(A[i]) == int and A[i]%2 == 1:
        Sum += A[i]
print(out)
print(Sum)

[10, 24, 46, (6+8j), 45, 'string']
112

In [16]:
#String = Python is very easy
#Output = {nohtyP: 6, si: 2, yrev: 4, ysae: 4}
string = 'Python is very easy'
s = string.split(' ')
out = {}
for i in s:
    out[i[::-1]] = len(i) 
print(out)

{'nohtyP': 6, 'si': 2, 'yrev': 4, 'ysae': 4}

In [19]:
string = 'python is very easy'
out = ''
i = 0
while i < len(string):
    out = string[i] + out
    i += 1
print(out)

ysae yrev si nohtyp

In [20]:
M = 'python training institute'
out = ''
for i in M:
    if i not in out:
        out += i
print(out)

python raigsue

# functions

## type_ 1 :without args without return values

In [8]:
def prime():
    n=7
    for i in range(2,n):
        if n%i==0:
            print("not prime")
            break
    else:
        print("prime")
prime()

prime

In [5]:
def perfect():
    n=6
    out=0
    for i in range(1,n):
        if n%i==0:
            out+=i
    if out==n:
        print("its an perfect number")


    else:
        print("it notperfect number")
        
perfect()

its an perfect number

In [13]:
def palindrome():
    a=input("enter the name :")
    out=""
    for i in a:
        out=i+out
    if out==a:
        print("palindrome")
    else:
        print("not palindrome")
palindrome()

enter the name :mom
palindrome

In [18]:
def count():
    a=input(("enter the char:"))
    c=0
    for i in a:
        c+=1
    print(c)
count()

enter the char:manoj hb
9

In [3]:
def spchar():
    a=input("enter the char :")
    out=""
    for i in a:
        if not ('A'<=i<='Z' or 'a'<=i<='z' or '0'<=i<='9'):
            out=out+i
    print(out)
spchar()

enter the char :$$$manoj@@@123
$$$@@@

In [5]:
def output():
    a="ISAFEAMSAFEASAFEGENIOUS"
    b=a.split('SAFE')
    out=' '.join(b)
    print(out)
output()

I AM A GENIOUS

In [7]:
def abc():
    a=input("enter the string:")
    if type(a) in [str,list,tuple,set,dict]:
        print("collection")
    else:
        print("not collection")
abc()

enter the string:hhfg
collection

In [11]:
def string():
    a=input("enter the string:")
    out=''
    for i in range(len(a)):
        if i%2==0:
            out+=a[i]
    print(out)
string()

enter the string:qwertyuiopasdfghjklzm
qetuoadgjlm

In [12]:
def string():
    a=input("enter the string:")
    out=''
    for i in range(len(a)):
        if i%2==0:
            out+=a[i]
    print(out)
string()

enter the string:145789623
15863

## type_2  :with args without return values

In [47]:
def display(a,b):
    print(a)
    print(b)

display(7,8)

7
8

In [48]:
def display(a,b):
    print(a)
    print(b)

display(input("enter a :"),input("enter b :"))

enter a :8
enter b :9
8
9

In [49]:
def prime(n):
    for i in range(2,n):
        if n%i==0:
            print("not prime")
            break
    else:
        print("prime")

prime(int(input("enter the num:")))

enter the num:7
prime

In [31]:
def perfect(n):

    out=0
    for i in range(1,n):
        if n%i==0:
            out+=i
    if out==n:
        print("its an perfect number")


    else:
        print("it notperfect number")
        
perfect(6)

its an perfect number

In [37]:
def palindrome(a):
    
    out=""
    for i in a:
        out=i+out
    if out==a:
        print("palindrome")
    else:
        print("not palindrome")

palindrome(input("enter the string:"))

enter the string:mom
palindrome

In [46]:
def add(a,b,c):
    print(a+b+c)

add(154,789,562)

1505

In [10]:
def addi(p,q,r):
    s=p+q+r
    print(s)
    
addi(10,20,30)

60

In [61]:
def sqr1(a,b):
    if a%2==0 or b%2==0:
        print(a**2+b**2)
sqr1(2,4)

20

In [1]:
def natural(n):
    i=1
    while i<=n:
        print(i)
        i+=1
natural(10)

1
2
3
4
5
6
7
8
9
10

In [4]:
def natural(n):
    for i in range(1,n):
        print(i)
        
natural(10)

1
2
3
4
5
6
7
8
9

In [5]:
def natural(n):
    for i in range(1,n+1):
        print(i)
        
natural(10)

1
2
3
4
5
6
7
8
9
10

In [13]:
def digit(a):
    b=str(a)
    out=0
    for i in b:
        out+=int(i)
    print(out)
digit(248)

14

In [17]:
def digit1(a):
    out=0
    temp=a
    while a!=0:
        d=a%10
        out+=d
        a//=10
    print(out)
digit1(489)

21

## type_3  :without args with return values

In [1]:
def get():
    a=int(input("enter a:"))
    b=int(input("enter b:"))

    return a,b,a+b,a-b,a*b,a/b
    
print(get())

enter a:10
enter b:5
(10, 5, 15, 5, 50, 2.0)

In [2]:
def get():
    a=int(input("enter a:"))
    b=int(input("enter b:"))

    return a,b,a+b,a-b,a*b,a/b
    
out=get()
print(out)

enter a:10
enter b:5
(10, 5, 15, 5, 50, 2.0)

In [12]:
def get():
    a=int(input("enter a:"))
    b=int(input("enter b:"))
    c=int(input("enter c:"))

    return a,b,c,a+b+c,a*b*c
    
out1,out2,out3,out4,out5=get()
print(out1)
print(out2)
print(out3)
print(out4)
print(out5)

enter a:1
enter b:2
enter c:3
1
2
3
6
6

In [11]:
def get():
    a=int(input("enter a:"))
    b=int(input("enter b:"))
    c=int(input("enter c:"))

    return a,a+b,a+b+c
    
out1,out2,out3=get()
print(out1)
print(out2)
print(out3)

enter a:10
enter b:20
enter c:30
10
30
60

In [16]:
def prime():
    n=7
    for i in range(2,n):
        if n%i==0:
            return "not prime"
            break
    else:
        return "prime"
prime()

'prime'

In [18]:
def perfect():
    n=6
    out=0
    for i in range(1,n):
        if n%i==0:
            out+=i
    if out==n:
        return "its an perfect number"


    else:
        return "it notperfect number"
        
print(perfect())

its an perfect number

In [17]:
def palindrome():
    a=input("enter the name :")
    out=""
    for i in a:
        out=i+out
    if out==a:
        return "palindrome"
    else:
        return "not palindrome"

print(palindrome())

enter the name :mom
palindrome

In [8]:
def fact():
    fact=1
    num=int(input("enter the number :"))
    for i in range(num,0,-1):
        fact=fact*i
    return fact
fact()

enter the number :5

120

In [19]:
def factorial():
    n=int(input("enter the number:"))
    i=1
    fact=1
    while i<=n:
        fact=fact*i
        i+=1
    return fact
    
factorial()

enter the number:3

6

In [1]:
def count():
    a=input("enter the string :")
    b=input("enter the string :")
    c=0
    for i in a:
        if i==b:
            c+=1
    return c
count()

enter the string :manojmanoj
enter the string :a

2

In [6]:
def fact():
    a='mahendrasinghdhoni'
    b='h'
    count=0
    for i in a:
        if i=='h':
            count+=1
    return count
print(fact())

3

In [13]:
def rep():
    f=("python","hi","hello","hi","hb","manoj","python","manoj")
    out=()
    for i in f:
        if i not in out:
            out+=(i,)
    return out

print(rep())

('python', 'hi', 'hello', 'hb', 'manoj')

In [29]:
def extract():
    a=input("enter the string:")
    out=""
    for i in range(0,len(a)):
        for j in range(i+1,len(a)):
            if a[i]==a[j]:
                out+=a[i]
    return out
print(extract())

enter the string:pyspiders
ps

In [23]:
def upper():
    a='Happy HOLI'
    out=""
    for i in a:
        if "A"<=i<"Z":
            out+=chr(ord(i)+32)
        else:
            out+=i
    return out
print(upper())

happy holi

# #type_4  :with args with return values

In [3]:
def prime(n):
    out=()
    for i in range(1,n+1):
        ind=0
        for j in range(2,i):
            if i%j==0:
                ind=1
        if ind==0:
            out+=(i,)
    return out
print(prime(20))

(1, 2, 3, 5, 7, 11, 13, 17, 19)

In [6]:
def perfect(n):
    p=[]
    for i in range(1,n+1):
        out=0
        for j in range(1,i):
            if i%j==0:
                out+=j
        if out==i:
            p+=[i]
    return p
print(perfect(1000))

[6, 28, 496]

In [11]:
def login(user,passwords):
    username='pyspyiders'
    password='py@123'
    if user==username:
        if passwords==password:
            return 'login sucessfully'
        else:
            return 'password error'
    else:
        return 'invlaid user'
print(login(input('enter username :'),input('enter password :')))

enter username :pyspyiders
enter password :py@123
login sucessfully

In [17]:
def fibonacci(m):
    a=0
    b=1
    print(a)
    print(b)
    while b<=m:
        n=a+b
        a=b
        b=n
        print(n)
    return 'executed sucessfully'
print(fibonacci(25))

0
1
1
2
3
5
8
13
21
34
executed sucessfully

In [31]:
def fibonacci(m):
    out=[]
    a=0
    b=1
    out+=[a,b]
    while b<=m:
        n=a+b
        a=b
        b=n
        out+=[n]
    print(out)
    if m in out:
        return (f'{m} is a fibonacci number')
    else:
        return (f'{m} is not a fibonacci number')
print(fibonacci(int(input('enter the number:'))))

enter the number:5
[0, 1, 1, 2, 3, 5, 8]
5 is a fibonacci number

In [21]:
def fact(n):
    out=[]
    for i in range(1,n+1):
        p=1
        for j in range(1,i+1):
            p*=j
        out+=[p]
    return out
print(fact(5))

[1, 2, 6, 24, 120]

In [120]:
def up(m,n):
    sum=''
    for i in range(len(m)):
        if i<=n:
            sum=sum+m[i].upper()
        else:
            sum=sum+m[i]
    print(sum)
up('python programming',10)

PYTHON PROGramming

In [121]:
def cube(num):
    d={}
    res=[]
    for i in range(1,num+1):
        c=i**3
        d[c]=i
        if i**2 in d:
            t=(d[i**2],i)
        if t not in res:
            res+=[t]
    print(res)
cube(1000)

[(1, 1), (4, 8), (9, 27), (16, 64), (25, 125), (36, 216), (49, 343), (64, 512), (81, 729), (100, 1000)]

In [122]:
def cube(num):
    d={}
    res=[]
    for i in range(1,num+1):
        c=i**3
        d[c]=i
        if i**2 in d:
            t=(d[i**2],i)
        if t not in res:
            res+=[t]
    print(len(res))
cube(1000)

10

In [124]:
d={'a':2,'b':True,'c':{'p':1,'q':2,'r':{'s':7,'t':2},'v':4}}
def extract_sum(d):
    out=0
    for i in d:
        if type(d[i])==int and d[i]%2==0:
            out+=d[i]
        elif type(d[i])==dict:
            out+=extract_sum(d[i])
        else:
            continue
    return out
print(extract_sum(d))

10

In [125]:
d={'a':2,'b':True,'c':{'p':1,'q':2,'r':{'s':7,'t':2,'n':{'2':2,'3':{'6':6}}},'v':4}}
def extract_sum(d):
    out=0
    for i in d:
        if type(d[i])==int and d[i]%2==0:
            out+=d[i]
        elif type(d[i])==dict:
            out+=extract_sum(d[i])
        else:
            continue
    return out
print(extract_sum(d))

18

# Global,Local & non-local variable

In [18]:
a,b=10,20
def sam():
    print(a,b)
    print(a+b)
print(a,b)
print(a+b)
sam()
print(a+b)
print(a,b)

10 20
30
10 20
30
30
10 20

In [19]:
a,b=10,20
def sam():
    b=10
    print(a,b)
    print(a+b)
print(a,b)
print(a+b)
sam()
print(a+b)
print(a,b)

10 20
30
10 10
20
30
10 20

In [20]:
a,b=10,20
def sam():
    global b
    b=10
    print(a,b)
    print(a+b)
print(a,b)
print(a+b)
sam()
print(a+b)
print(a,b)

10 20
30
10 10
20
20
10 10

In [26]:
a,b=10,20
def sam():
    print(a,b)
    print(a+b)
    def inner():
        p,q=1,2
        print(p,q)
        print(a,b)
        print(p+q)
    inner()
print(a,b)               #here sam() function call  not called so we got only 10,20

10 20

In [27]:
a,b=10,20
def sam():
    print(a,b)
    print(a+b)
    def inner():
        p,q=1,2
        print(p,q)
        print(a,b)
        print(p+q)
    inner()
print(a,b)
sam()                              #here sam() function called

10 20
10 20
30
1 2
10 20
3

In [58]:
a,b=10,20
def sam():
    print(a,b)
    print(a+b)
    def inner():
        p,q=1,2
        print(p,q)
        print(a,b)
        print(p+q)
    inner()
    print(p,q)
print(a,b)
sam()    #here print(p,q) is wrong,because it's an local var.. but it's in global var..

10 20
10 20
30
1 2
10 20
3

NameError: name 'q' is not defined

In [29]:
a,b=10,20
def sam():
    p,q=1,2
    print(a,b)
    print(a+b)
    def inner():
        print(p,q)
        print(a,b)
        print(p+q)
    inner()
print(a,b)
sam()

10 20
10 20
30
1 2
10 20
3

In [30]:
a,b=10,20
def sam():
    p,q=1,2
    print(a,b)
    print(a+b)
    def inner():
        nonlocal q
        q=200
        print(p,q)
        print(a,b)
        print(p+q)
    inner()
    print(p,q)
print(a,b)
sam()

10 20
10 20
30
1 200
10 20
201
1 200

In [33]:
a,b=10,20              # Globalvar...
def outer():         
    p,q=1,2            # Local var...
    print(a,b)
    print(p,q)
    def inner():
        print(p,q)
        print(a,b)
    inner()
print(p,q)             # error
outer() #here print(p,q) is wrong,because it's an local var.. but it's in global var..

NameError: name 'q' is not defined

In [35]:
a,b=10,20
def outer():
    p,q=1,2
    print(a,b)
    print(p,q)
    def inner():
        print(p,q)
        print(a,b)
    inner()
outer()

10 20
1 2
1 2
10 20

In [37]:
a,b=10,20
def outer():
    p,q=1,2
    print(p,q)
    print(a,b)
    def inner():
        nonlocal p
        p=100
        print(p,q)
        print(a,b)
    inner()
    print(p,q)
outer()

1 2
10 20
100 2
10 20
100 2

## formal and actual arguments

In [20]:
def fname(a,b,c):
    print(a)
    print(b)
    print(c)
fname(1,2,3)

1
2
3

In [21]:
def fname(a,b,c,d=0,e=True):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)
fname(1,2,3)

1
2
3
0
True

In [22]:
def fname(a,b,c,d=0,e=True):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)
fname(1,2,3,4,5)

1
2
3
4
5

In [51]:
def user_details(name,phno,mail,alt_phno=None,alt_mail=None):
    print(name,phno,mail,alt_phno,alt_mail)
user_details('manoj',7338223834,'manojhb12345@gmail.com')

manoj 7338223834 manojhb12345@gmail.com None None

In [52]:
def user_details(name,phno,mail,alt_phno=None,alt_mail=None):
    print(name,phno,mail,alt_phno,alt_mail)
user_details('manoj',7338223834,'manojhb12345@gmail.com',9481360397,'manoj@12')

manoj 7338223834 manojhb12345@gmail.com 9481360397 manoj@12

In [53]:
def add(a,b,c=0,d=0,e=0):
    print(a+b+c+d+e)
add(1,2)

3

In [57]:
def add(a,b,c=0,d=0,e=0):
    print(a+b+c+d+e)
add(1,2,3,4,5)

15

# packing and unpacking

## packing

In [6]:
#tuple packing

def tuple_pack(*t):
    print(t)
    print(type(t))
tuple_pack(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [8]:
#dictionary packing

def dict_pack(**d):
    print(d)
    print(type(d))
dict_pack(a=1,b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
<class 'dict'>

In [10]:
def collection(*a,out=()):
    for i in range(len(a)):
        if i%2==1 and type(a[i]) in (str,list,tuple,set,dict):
            out+=(a[i],)
    return out
print(collection(3,4.5,'string','list',True,10,20,))

('list',)

In [12]:
def fact(*n):
    for i in n:
        if type(i)==int:
            p=1
            for j in range(1,i+1):
                p*=j
            print(p)
fact(1,2,3,'hai',4,5)

1
2
6
24
120

# unpacking

In [2]:
p='haiii'
def string(a,b,c,d,e):
    print(a,b,c,d,e)
string(*p)

h a i i i

In [4]:
def string(a,b,c,d):
    print(a,b,c,d)
string(*{'a':2,'b':4,'c':6,'d':8})

a b c d

In [6]:
def string(a,b,c,d):
    print(a,b,c,d)
string(**{'a':2,'b':4,'c':6,'d':8})

2 4 6 8

# packing tuple and dict in a single function

In [9]:
def tuple_dict(*a,**b):
    print(a,type(a))
    print(b,type(b))
tuple_dict(10,20,30)

(10, 20, 30) <class 'tuple'>
{} <class 'dict'>

In [10]:
def tuple_dict(*a,**b):
    print(a,type(a))
    print(b,type(b))
tuple_dict(p=10,q=20,r=30,s=40)

() <class 'tuple'>
{'p': 10, 'q': 20, 'r': 30, 's': 40} <class 'dict'>

In [11]:
def tuple_dict(*a,**b):
    print(a,type(a))
    print(b,type(b))
tuple_dict(10,20,30,40,50,p=10,q=20,r=30,s=40)

(10, 20, 30, 40, 50) <class 'tuple'>
{'p': 10, 'q': 20, 'r': 30, 's': 40} <class 'dict'>

# Recursion

In [13]:
def sam(i=0):
    if i>=5:
        return
    print('hello')
    return sam(i+1)
sam()

hello
hello
hello
hello
hello

In [14]:
def fact(n,f=1,i=1):
    if i>n:
        return f
    f*=i
    return fact(n,f,i+1)
print(fact(5))

120

In [15]:
def factorial(n):
    if n<=1:
        return 1
    return n*factorial(n-1)
print(factorial(5))

120

# Oops

In [37]:
class sample:
    pass  


obj=sample()
print(type(obj))

<class '__main__.sample'>

In [2]:
class sample:
    a=10
    b=20
obj1=sample()
obj2=sample()
print(obj1.a)
print(obj2.b)

10
20

In [3]:
class sample:
    a=10
    b=20
obj1=sample()
obj2=sample()
print(sample.a)
print(sample.b)

10
20

In [4]:
class school:
    sname='kendriya vidyalaya'
    sadd='Bengaluru'
    sprincipal='Mr.Anurag Bhat'

student1=school()
student1.name='Manoj'
student1.phno='7338223834'

student2=school()
student2.name='Manu'
student2.phno='7338663834'

student3=school()
student3.name='Anu'
student3.phno='7335623834'

school.sphno=73345623834

print(student1.name,student1.sname,student1.phno)
print(student2.name,student2.sname,student2.phno)
print(student3.name,student3.sname,student3.phno)
print(school.sprincipal,school.sphno)

Manoj kendriya vidyalaya 7338223834
Manu kendriya vidyalaya 7338663834
Anu kendriya vidyalaya 7335623834
Mr.Anurag Bhat 73345623834

In [5]:
class spya7:
    trainer='Mahesh'
    roomno=102
    sub='python'

student1=spya7()
student1.name='manoj'
student1.phno=7338223834
student1.mail='m@gmail.com'

student2=spya7()
student2.name='manu'
student2.phno=73385673834
student2.mail='k@gmail.com'

print(student1.name,student1.phno,student1.mail,student1.trainer,student1.roomno,student1.sub)
print(student2.name,student2.phno,student2.mail,student2.trainer,student2.roomno,student2.sub)

manoj 7338223834 m@gmail.com Mahesh 102 python
manu 73385673834 k@gmail.com Mahesh 102 python

In [6]:
class bank:
    bname='SBI'
    IFSC='SBI009'
    branch='BTM,Bengaluru'
    bmanager='Ms.Samatha'

customer1=bank()
customer1.name='Mr.Niranjan'
customer1.phno=7338223834
customer1.mail='m@gmail.com'
customer1.pan='EXP2019'

customer2=bank()
customer2.name='Mr.vishal'
customer2.phno=7668223834
customer2.mail='v@gmail.com'
customer2.pan='VHPP2019'

print(customer1.name,customer1.bname)
print(customer2.name,customer2.bname)

Mr.Niranjan SBI
Mr.vishal SBI

In [10]:
class bank:
    bname='SBI'
    IFSC='SBI009'
    branch='BTM,Bengaluru'
    bmanager='Ms.Samatha'

    def  __init__(a,name,phno,mail,pan):
        a.name=name
        a.phno=phno
        a.mail=mail
        a.pan=pan

obj1=bank('manoj',7338223834,'m@gmail.com','PANJ34')
obj2=bank('anu',7338773834,'a@gmail.com','AANJ34')
print(obj1.name,obj1.mail,obj1.bname)
print(obj2.name,obj2.pan,obj2.bname)

manoj m@gmail.com SBI
anu AANJ34 SBI

In [11]:
class bank:
    bname='SBI'
    IFSC='SBI009'
    branch='BTM,Bengaluru'
    bmanager='Ms.Samatha'

    def  __init__(a,name,phno,mail,pan):
        a.name=name
        a.phno=phno
        a.mail=mail
        a.pan=pan

obj1=bank('manoj',7338223834,'m@gmail.com','PANJ34')
obj2=bank('anu',7338773834,'a@gmail.com','AANJ34')
print(obj1.name,obj1.mail,obj1.bname)
print(obj2.name,obj2.pan,obj2.bname)
print(obj1)

manoj m@gmail.com SBI
anu AANJ34 SBI
<__main__.bank object at 0x000000B4EF6588E0>

In [15]:
class A:
    def __new__(cls):
        print('creating the object')
        return super(A,cls).__new__(cls)
obj=A()

creating the object

In [16]:
class A:
    def __new__(cls):
        print('creating the object')
        return super(A,cls).__new__(cls)

    def __init__(self):
        self.a=10
        print('object member created')

obj=A()

creating the object
object member created

In [17]:
class A:
    def __new__(cls):
        print('creating the object')
        return super(A,cls).__new__(cls)

    def __init__(self):
        self.a=10
        print('object member created')

obj=A()
print(obj.a)

creating the object
object member created
10

In [18]:
class A:
    def __init__(self,a,b,c=0):
        self.a=a
        self.b=b
        self.c=c
        print(a+b+c)
obj=A(10,20)

30

In [20]:
class A:
    def __init__(self,a,b,c=0):
        self.a=a
        self.b=b
        self.c=c
        print(a+b+c)
obj=A(10,20,5)

35

In [21]:
class A:
    def __init__(self):
        self.a=int(input('enter a :'))
        self.b=int(input('enter b :'))
        self.c=int(input('enter c :'))
        print(self.a+self.b+self.c)
obj=A()

enter a :1
enter b :2
enter c :3
6

In [22]:
class A:
    def __init__(self):
        self.a=int(input('enter a :'))
        self.b=int(input('enter b :'))
        self.c=int(input('enter c :'))
        print(self.a+self.b+self.c)
obj=A()
print(obj.a+obj.b+obj.c)

enter a :1
enter b :2
enter c :3
6
6

In [25]:
class A:
    def __init__(self):
        self.a=int(input('enter a :'))
        self.b=int(input('enter b :'))
        self.c=int(input('enter c :'))
        print(self.a+self.b+self.c)
obj=A()
obj2=A()

enter a :1
enter b :2
enter c :3
6
enter a :10
enter b :20
enter c :30
60

In [1]:
#using non parameterized constructor
class school:
    sname='mbs'
    spho=7338223834
    sprincipal='manoj'
    swebsite='www.mbs.com'
    
    def __init__(self):
        self.stname=input("enter :")
        self.stphno=input("enter :")
        self.stclas=input("enter :")
        self.studid=input("enter :")
        self.stddob=input("enter :")
        self.stdper=input("enter :")
        print(self.stname,self.stphno)
        print(self.stclas,self.studid)
        print(self.stddob,self.stdper)
        
student1=school()

student2=school()

enter :m
enter :a
enter :n
enter :o
enter :j
enter :h
m a
n o
j h
enter :r
enter :a
enter :m
enter :e
enter :s
enter :h
r a
m e
s h

In [2]:
#using parameterized constructor
class school:
    sname='mbs'
    spho=7338223834
    sprincipal='manoj'
    swebsite='www.mbs.com'
    sadd='bangalore'
    
    def __init__(self,name,sclass,sec,phno,add,age):
        self.name=name
        self.sclass=sclass
        self.sec=sec
        self.phno=phno
        self.add=add
        self.age=age

student1=school('manoj',12,'b',7338223834,'blore',25)
print(student1.name,student1.sclass,student1.sec,student1.phno,student1.add,student1.age)

manoj 12 b 7338223834 blore 25

In [3]:
#using parameterized constructor
class school:
    sname='mbs'
    spho=7338223834
    sprincipal='manoj'
    swebsite='www.mbs.com'
    sadd='bangalore'
    
    def __init__(self,name,sclass,sec,phno,add,age):
        self.name=name
        self.sclass=sclass
        self.sec=sec
        self.phno=phno
        self.add=add
        self.age=age
    
    def display(self):
        print(self.name,self.sclass,self.sec,self.phno,self.add,self.age)
        
student1=school('manoj',12,'b',7338223834,'blore',25)
student1.display()

manoj 12 b 7338223834 blore 25

In [1]:
class sam:
    a=10
    b=20
    def __init__(self):
        self.p=30
        self.q=5
    @staticmethod
    def mul(c,d):
        return c-d
    
    @classmethod
    def addition(cls):
        out=cls.mul(cls.a,cls.b)
        return out
        
    def addition1(self):
        res=self.mul(self.p,self.q)
        return res
obj=sam()
print(sam.addition())
print(obj.addition1())

-10
25

In [2]:
class company:
    cname='TCS'
    cadd='Blore'
    ceo='mr.girish'
    
    def __init__(self,ename,eid,job,sal):
        self.ename=ename
        self.eid=eid
        self.job=job
        self.sal=sal
        
    def display(self):
        print(self.ename,self.eid,self.job,self.sal)
        
    def chng_job(self,newjob):
        self.job=newjob
        self.msg()
        
    @classmethod
    def ss_ceo(cls,newceo):
        cls.ceo=newceo
        cls.msg()
        
    @staticmethod
    def msg():
        print('changes done sucessfully')
        
emp1=company('manoj','tcs001','ase',25000)
emp2=company('ramesh','tcs002','ase',35000)
emp3=company('amresh','tcs003','ase',45000)
emp4=company('manu','tcs004','ase',2000)

emp1.display()
emp3.display()
emp2.chng_job('manager')
emp2.display()
company.ss_ceo('mr.ram')
print(company.ceo)

manoj tcs001 ase 25000
amresh tcs003 ase 45000
changes done sucessfully
ramesh tcs002 manager 35000
changes done sucessfully
mr.ram

# inheritance

# acess specifier

In [4]:
#public

class sam:
    a=10
    b=20
    def __init__(self):
        self.c=30
        self.d=40
    def display(self):
        print(self.a,self.b,self.c,self.d)
obj=sam()
obj.display()

10 20 30 40

In [10]:
#protected 

class sam:
    _a=10
    _b=20
    def __init__(self):
        self.c=30
        self.d=50
    def _display(self):
        print(self._a,self._b,self.c,self.d)
obj=sam()
obj._display()

10 20 30 50

In [9]:
#private

class sam:
    __a=10
    __b=20
    def __init__(self):
        self.d=50
    def __display(self):
        print(self.__a,self.__b,self.d)
obj=sam()
obj._sam__display()

10 20 50

In [11]:
class sam:
    __a=10
    __b=20
    def __init__(self):
        self.__c=30
        self.d=50
    def __display(self):
        print(self.__a,self.__b,self.__c,self.d)
obj=sam()
obj.__display()

AttributeError: 'sam' object has no attribute '__display'

# programming class

In [2]:
a=int(input('enter a :'))
if a >0:
    print('positive')

enter a :12
positive

In [3]:
a=input('enter a :')
b=input('enter b :')
if  a==b[::-1]:
    print('best')
else:
    print('worst')

enter a :hello
enter b :olleh
best

In [4]:
inp1=input('enter floor or tree: ')
if inp1=='floor':
    pside=True 
else:
    pside=False
if pside==True:
    print('monkey has 1 tail')
else:
    print('monkey has 2 tail')

enter floor or tree: floor
monkey has 1 tail

In [5]:
inp1=input('enter floor or tree: ')
if inp1=='floor':
    pside=True 
else:
    pside=False
if pside==True:
    print('monkey has 1 tail')
else:
    print('monkey has 2 tail')

enter floor or tree: Tree
monkey has 2 tail

In [6]:
ip1=input('is girl smiling,type yes or no  :')
if ip1=='Yes':
    psmile=True
else:
    psmile=False
if psmile==True:
    print('Happy')
else:
    print('SAD')

is girl smiling,type yes or no  :Yes
Happy

In [7]:
ip1=input('is girl smiling,type yes or no  :')
if ip1=='Yes':
    psmile=True
else:
    psmile=False
if psmile==True:
    print('Happy')
else:
    print('SAD')

is girl smiling,type yes or no  :no
SAD

In [15]:
a=input("enter the num:")
if 'A'<=a<='Z':
    print("uppercase")
elif 'a'<=a<='z':
    print("lowercase")
elif '0'<=a<='9':
    print("numeric")
else:
    print("special chr")

enter the num:@
special chr

In [20]:
a=int(input('enter the num:'))
if a%3==0 and a%5==0:
    print(3+5)
elif a%3==0:
    print(a**3)
elif a%5==0:
    print(a**5)

enter the num:25
9765625

In [23]:
a=int(input('enter the num:'))
if a%3==0 and a%5==0:
    print(3+5)
elif a%3==0:
    print(a**3)
elif a%5==0:
    print(a**5)

enter the num:9
729

In [24]:
a=int(input('enter the num:'))
if a%3==0 and a%5==0:
    print(3+5)
elif a%3==0:
    print(a**3)
elif a%5==0:
    print(a**5)

enter the num:15
8

In [19]:
9**3

729

In [22]:
25**5

9765625

In [4]:
menu={'cheese loaded':120,'veg loaded':180,'nonveg loaded':240}
addons={'extra cheese':20,'extra ketchup':20}
a=input("enter the pizza :")
b=int(input('enter the quantity :'))
c=input('enter 1 if addons required ,else 0 :')
if a in menu:
    bill=menu[a]*b
    if c=='1':
        d=input('enter the addons')
        if d in addons:
            bill+=addons[d]
            print(bill)
        else:
            print("addons not found")
    else:
        print(bill)
else:
    print("item not avialable")

enter the pizza :nonveg loaded
enter the quantity :3
enter 1 if addons required ,else 0 :1
enter the addonsextra cheese
740

In [5]:
menu={'cheese loaded':120,'veg loaded':180,'nonveg loaded':240}
addons={'extra cheese':20,'extra ketchup':20}
a=input("enter the pizza :")
b=int(input('enter the quantity :'))
c=input('enter 1 if addons required ,else 0 :')
if a in menu:
    bill=menu[a]*b
    if c=='1':
        d=input('enter the addons')
        if d in addons:
            bill+=addons[d]
            print(bill)
        else:
            print("addons not found")
    else:
        print(bill)
else:
    print("item not avialable")

enter the pizza :veg loaded
enter the quantity :2
enter 1 if addons required ,else 0 :0
360

In [8]:
menu={'cheese loaded':120,'veg loaded':180,'nonveg loaded':240}
addons={'extra cheese':20,'extra ketchup':20}
a=input("enter the pizza :")
b=int(input('enter the quantity :'))
c=input('enter 1 if addons required ,else 0 :')
if a in menu:
    bill=menu[a]*b
    if c=='1':
        d=input('enter the addons')
        if d in addons:
            bill+=addons[d]
            print(bill)
        else:
            print("addons not found")
    else:
        print(bill)
else:
    print("item not found")

enter the pizza :corn
enter the quantity :2
enter 1 if addons required ,else 0 :1
item not found

In [10]:
menu={'cheese loaded':120,'veg loaded':180,'nonveg loaded':240}
addons={'extra cheese':20,'extra ketchup':20}
a=input("enter the pizza :")
b=int(input('enter the quantity :'))
c=input('enter 1 if addons required ,else 0 :')
if a in menu:
    bill=menu[a]*b
    if c=='1':
        d=input('enter the addons')
        if d in addons:
            bill+=addons[d]
            print(bill)
        else:
            print("addons not found")
    else:
        print(bill)
else:
    print("item not found")

enter the pizza :corn
enter the quantity :2
enter 1 if addons required ,else 0 :0
item not found

In [1]:
menu={'cheese loaded':120,'veg loaded':180,'nonveg loaded':240}
addons={'extra cheese':20,'extra ketchup':20}
a=input("enter the pizza :")
b=int(input('enter the quantity :'))
c=input('enter 1 if addons required ,else 0 :')
if a in menu:
    bill=menu[a]*b
    if c=='1':
        d=input('enter the addons :')
        if d in addons:
            bill+=addons[d]
            print(bill)
        else:
            print("addons not found ")
    else:
        print(bill)
else:
    print("item not found")

enter the pizza :cheese loaded
enter the quantity :2
enter 1 if addons required ,else 0 :1
enter the addons :extra salt
addons not found

In [5]:
n=int(input('enter the num:'))
i=1
while i<=10:
    print(n,'*',i,'=',n*i)
    i+=1

enter the num:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
n=int(input('enter the num:'))
i=1
while i<=10:
    print(i,'*',n,'=',n*i)
    i+=1

enter the num:5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [7]:
n=int(input('enter the num:'))
i=1
while i<=10:
    print(f'{i}*{n}={i*n}')
    i+=1

enter the num:5
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50

In [8]:
n=['python',10,20,30,'program']
flag=0
i=1
while i <len(n):
    if type(n[0])!=type(n[i]):
        flag=1
    i+=1
if flag==1:
    print("heter")
else:
    print("homo")

heter

In [9]:
n=[10,20,30]
flag=0
i=1
while i <len(n):
    if type(n[0])!=type(n[i]):
        flag=1
    i+=1
if flag==1:
    print("heter")
else:
    print("homo")

homo

In [1]:
n=int(input('entter the  num:'))
rev=0
while n!=0:
    rev=rev*10+n%10
    n//=10
print(rev)

entter the  num:25
52

In [2]:
n=int(input('enter the  num:'))
rev=0
while n!=0:
    rev=rev*10+n%10
    n//=10
print(rev)
    
i=1
while i<=rev:
    if rev%i==0:
        print(i)
    i+=1

enter the  num:25
52
1
2
4
13
26
52

In [9]:
n=int(input('enter the  num:'))
rev=0
while n!=0:
    rev=rev*10+n%10
    n//=10
print(f'reversed format of given input is :{rev}')
    
i=1
while i<=rev:
    if rev%i==0:
        print(i)
    i+=1

enter the  num:123
reversed format of given input is :321
1
3
107
321

In [ ]:
a=int(input('enter the num: '))
i=1
while i<=a:
    if a%i==0:
        print(i)
    i+=1

In [3]:
s='pYSpiDeRsBTm@123'
su,sl=0,0
up=''
lw=''
i=0
while i<len(s):
    if 'a'<=s[i]<='z':
        sl+=ord(s[i])
        if i%2==0:
            lw+=s[i]
    elif 'A'<=s[i]<='Z':
        su+=ord(s[i])
        if i%2!=0:
            up+=s[i]
    i+=1
print(f'lowercase sum:{sl},uppercase sum:{su}')
if su>sl:
    print(up)
else:
    print(lw)

lowercase sum:654,uppercase sum:472
pies

In [5]:
s='pYSpiDeRsBTm@123'
su,sl=0,0
i=0
out=''
while i<len(s):
    if 'A'<=s[i]<='Z':
        su+=ord(s[i])
    elif 'a'<=s[i]<='z':
        sl+=ord(s[i])
    i+=1
if su>sl:
    while i>0:
        i-=1
        if i%2!=0 and 'A'<=s[i]<='Z':
            out=s[i]+out
else:
    while i>0:
        i-=1
        if i%2==0 and 'a'<=s[i]<='z':
            out=s[i]+out
print(out)

pies

In [6]:
a=int(input("enter the input"))
b=str(a)
c=len(b)
out=0
for i in b:
    out+=int(i)**c
if out==a:
    print("armstrong")
else:
    print("not armstrong")

enter the input370
armstrong

In [7]:
a=int(input("enter the num:"))
n=a
out=[]
i=0
while n>0:
    out=[n%10]+out
    i+=1
    n//=10
s=0
for j in out:
    s+=j**i
if s==a:
    print("armstrong")
    print(s)

enter the num:153
armstrong
153

In [8]:
a=[10,2.3,'hello','python',2437]
out=()
for i in a:
    if type(i)==int:
        out+=((i,len(str(i))),)
print(out)

((10, 2), (2437, 4))

In [4]:
zone=['north','east','west','south']
out=[]
for i in zone:
    for j in zone:
        if i!=j and (i+'vs'+j) not in out and (j+'vs'+i) not in out:
            out+=[i+'vs'+j]
            print(f'{i} vs {j}')

north vs east
north vs west
north vs south
east vs west
east vs south
west vs south

In [6]:
a='python programming languauge'
count=0
out={}
t=''
for i in a :
    if i!=' ':
        t=i+t
        count+=1
    else:
        out[count]=t
        t=''
        count=0
out[count]=t
print(out)

{6: 'nohtyp', 11: 'gnimmargorp', 9: 'eguaugnal'}

In [9]:
n=int(input("enter the num:"))
for i in range(2,n+1):
    ind=0
    for j in range(2,i):
        if i%j==0:
            ind=1
            
    if ind==0:
        print(i)

enter the num:50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [13]:
a=int(input('enter the value :'))
for i in range(100,a+1):
    s=0
    for j in str(i):
        s+=int(j)**len(str(i))
    if s==i:
        print(i)

enter the value :500
153
370
371
407